<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="arm" default="both"/>

    <rosparam file="$(find tiago_spnav_teleop)/config/spnav_motions_dual.yaml" command="load" />

    <node name="init_spnav" pkg="tiago_spnav_teleop" type="init_spnav.py" output="screen"
          args="--arm $(arg arm)"/>

    <include file="$(find tiago_spnav_teleop)/launch/spnav_controller_dual.launch"
             if="$(eval arm == 'left' or arm == 'both')">
        <arg name="arm" value="left"/>
    </include>

    <include file="$(find tiago_spnav_teleop)/launch/spnav_controller_dual.launch"
             if="$(eval arm == 'right' or arm == 'both')">
        <arg name="arm" value="right"/>
    </include>
</launch>
